/* 通用 */
html,body{
    height: 100%;
}

.fullpage-container{
    height: auto;
    min-height: 100%;
    padding-bottom: 55px;
}

.logo {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 22px;
}

footer {
    border-top: 1px solid #dedede;
    margin-top: -50px;
    padding-top: 15px;
}

.bottom-block {
    margin-bottom: 0px;
}

.title {
    border-bottom: 1px solid #dedede;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.icon-blank {
    width: 14px;
}

.icon-blank:before {
    content: " ";
}

.required {
    position: static;
}

.field-error {
    padding: 6px 10px;
    margin: 0px 8px;
}

.field-error-hide {
    padding: 6px 10px;
    margin: 0px 8px;
    display: none;
}

.tab-pane {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    padding: 10px;
}

.pointer, label[for]:hover, [href]:hover, [onclick]:hover, [rendered='tooltip']:hover {
    cursor: pointer;
}

.tree .checkbox {
    padding-top: 1px;
}

.label {
    font-size: 100%;
}

a:hover {
    text-decoration: none;
}

td .alert {
    margin: 5px 0px 0px 0px;
    padding: 5px 8px;
}

#logContainer pre {
    padding: 5px 8px;
    margin-bottom: 1px;
}